* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#heart {
  margin: 200px;
  position: relative;
  display: inline-block;
  animation: heart 700ms infinite alternate;
}
#heart:hover {
  transform: scale(2);
}
@keyframes heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.6);
  }
}
#heart > .bottom {
  width: 50px;
  height: 50px;
  background: red;
  transform: rotate(45deg);
}
#heart > .left {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  right: 100%;
  bottom: 100%;
  transform: rotate(45deg) translateX(41px);
  border-radius: 50% 0 0 50%;
  background: red;
}
#heart > .right {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: rotate(45deg) translateY(41px);
  border-radius: 50% 50% 0 0;
  background: red;
}
